=link_to 'New Question', new_question_path, class: "btn btn-info"
%br
%br

-@questions.each do |q| 
  .question-card.hero-section
    =q.question
    %br
    =link_to 'Edit', edit_question_path(q)
    |
    =link_to 'Delete', q, method: :delete, data: {confirm: 'Are you sure?' }