-if @issue.errors.any?
	= pluralize(@issue.errors.count, "error") + " prohibited this issue from being created!"
	%br
	Please fix these Issues:
	-@issue.errors.full_messages.each do |msg|
		%li= msg
	%br