-if @issue.errors.any?
  .field_with_errors 
    .error-title
      %h6= pluralize(@issue.errors.count, "error") + " prohibited this issue from being created!"
    .error-list
      -@issue.errors.full_messages.each do |msg|
        %li= msg
  %br