%div#search-projs
  = form_tag(issues_path, :method => 'get') do
    = label_tag :search_string, 'Search:'
    = text_field_tag :search_string, (prev_search['search_string'] if prev_search)
    %button.btn.btn-primary{:type => "submit"} Search
  = form_tag(issues_path, :method => 'get') do
    %button.btn{:type => "submit"} Clear

    
