%h1
  All Issues
=render :partial=>"search_form", :locals => {:prev_search => @prev_search}
-if @openIssues.size == 0
  No Matches Found
-else
  - @openIssues.each do |issue|
    #issue
      .row-fluid
        .span3
          .title-all= link_to truncate(issue.title, :length => 37, :separator => ' '), project_issue_path(issue.project_id,issue.id) 
        .span8
          %p
            %b.p Description
            .description-all= issue.description
        %p
          .pull-right.view-btn-all= link_to raw('<i class="icon-star-empty"></i>'), '#', :class => 'btn'
          %a.pull-right.view-btn-all{:class => "btn", :href => project_issue_path(issue.project_id,issue.id) } View
=render :partial => 'shared/pagination'

