= simple_form_for comment, :url => comment_path, :method => 'post', :remote => true do |f|
  = f.input :body, :input_html => { :class => "comment-text-area",:rows => "2" }, :label => false
  = f.button :submit, "Comment", :class => "btn btn-primary"