- project = Project.find(issue.project_id)
.hero-section
  .row-fluid
    .span3
      %h3= link_to truncate(issue.title, :length => 37, :separator => ' '), project_issue_path(project.slug,issue.id) 
    .span8
      %p
        %b.p Description
        -if issue.description.length > 325
          .description-all= truncate(issue.description, :length => 325, :separator => ' ')
        -else
          .description-all= issue.description

    .issue-star
      =render :partial=>"shared/issue_favorite", :locals => {:project => project}
      =#.pull-right.view-btn-all= link_to raw('<i class="icon-star-empty"></i>'), '#', :class => 'btn'