.pagination.pagination-centered.pagination-large
  %ul
    -if @page == @start
      %li.disabled
        %a{:ref=>"#"} Prev
    -else
      %li
        = link_to "Prev", issues_path(:pageNum => @page-1, :resolved => params[:resolved],:search_string => params[:search_string],:project => params[:project])

    -while @start < @end
      -if @start == @page
        %li.disabled
          %a{:ref=>"#"}=@start
      -else
        %li
          = link_to "#{@start}", issues_path(:pageNum => @start, :resolved => params[:resolved],:search_string => params[:search_string],:project => params[:project])
      -@start = @start + 1

    -if @page == @end - 1 || @page == @end
      %li.disabled
        %a{:ref=>"#"} Next
    -else
      %li
        = link_to "Next", issues_path(:pageNum => @page+1, :resolved => params[:resolved],:search_string => params[:search_string],:project => params[:project])