.row-fluid
  .project-card.span12
    .content
      %p.project-title
        =link_to project.title, project_path(project)
        (#{project.company_name}) -  
        #{project.mission_statement}
        .tags
          -if project.nonprofit
            %a.btn.btn-mini.btn-success.disabled
              Nonprofit
          -if project.five_01c3
            %a.btn.btn-mini.btn-warning.disabled
              501(c)3
