.project-square.span3
  .row-fluid
    .span12
      %p.project-square-title
        =link_to project.title, project_path(project)
  .row-fluid
    .span10.offset1
      .img-polaroid
        =image_tag project.photo_url.to_s
  .row-fluid
    %p
      %b
        ="#{t(:mission_statement)}:"
      =project.mission_statement