.project-details
  %h4.details-title
    ="#{t(:questions)}"
  -project.questions.each do |q|
    %p
      %b
        ="#{Question.find(Project.get_question_id(q)).subject}:"
        /-if QUESTIONS[q[0]]
        /  ="#{QUESTIONS[q[0]][:subject]}:"
      =q[1]
      %br