-project ||= project_compact
.row-fluid
  .project-card.hero-section.span12
    .content
      .fav-star-container
        =render :partial=>"shared/project_favorites", :locals => {:project => project}
      .project-title
        %p
          =link_to project.title, project_path(project)
          (#{project.company_name}) -  
          #{project.mission_statement}
        =render :partial=>"shared/project_tags", :locals => {:project => project}

