-if isFav(project.id) == true
  =link_to raw('<i class="icon-star"></i>'), remove_favorite_path(project), :class => "btn" #test
-else
  =link_to raw('<i class="icon-star-empty"></i>'), add_favorite_path(project), :class => "btn" #test
