.hero-section
  %h4.details-title
    ="#{t(:problem)}"
  %p=project.problem
  %h4.details-title
    ="#{t(:short_description)}"
  %p=project.short_description
  %h4.details-title
    ="#{t(:long_description)}"
  %p=project.long_description
