.row-fluid
  .project-card.span12
    -if project.user_id
      #project-user-edit
        - if defined? user_edit and user_edit
          =link_to user_edit_project_path(project) do
            %i.icon-edit
    .content
      .span2
        .img-polaroid
          =image_tag project.photo_url.to_s
        .edit-options
          - if user_signed_in? and (current_user.admin? or (project.user_id and current_user.id == project.user.id))
            =link_to "Modify Project Details", edit_project_path(project)
          - if user_signed_in? and current_user.admin?
            =render :partial => 'projects/short_approval_form', :locals => {:project => project}
      .span10
        .project-title
          =link_to project.title, project_path(project)
        =render :partial=>"shared/project_tags", :locals => {:project => project}

        
        .row-fluid
          .span6
            %p 
              %b
                ="#{t(:organization)}:"
              -if project.company_site
                =link_to(project.company_name, url_with_http(project.company_site), :target => "_blank")
              -else
                =project.company_name
            %p
              %b
                ="#{t(:application_site)}:"
              =link_to(project.application_site, url_with_http(project.application_site), :target => "_blank")
          .span6
            %p
              %b
                ="#{t(:github_site)}:"
              =link_to(project.github_site, url_with_http(project.github_site), :target => "_blank")
               
          .mission-statement
            .span12
              %p
                %b
                  ="#{t(:mission_statement)}:"
                =project.mission_statement


