-project ||= project_square
.project-square.hero-section.span3a
  .row-fluid
    .span10.offset1
      .img-polaroid
        =image_tag project.photo_url.to_s
  .row-fluid
    .span12
      %p.project-square-title
        =link_to project.title, project_path(project)
  .row-fluid
    %p
      %b
        ="#{t(:mission_statement)}:"
      =project.mission_statement