.hero-section
  %h4.details-title
    ="#{t(:questions)}"
  -project.questions.each do |q|
    %p
      %b.questions
        ="#{Question.find(Project.get_question_id(q)).question}:"
      -if q[1] == '1'
        yes
      -elsif q[1] == '0'
        no
      -else
        q[1]
      %br