.row-fluid
  .project-card.span12
    .content
      %p.project-title
        =link_to project.title, project_path(project)
        (#{project.company_name}) -  
        #{project.mission_statement}
      =render :partial=>"shared/project_tags", :locals => {:project => project}

