-project ||= project_square
.project-square.hero-section.span3a
  .row-fluid
    .span10.offset1
      .img-container
        =render :partial => 'projects/client_photo', :locals => {:project => project}
        .fav-star-container
          =render :partial=>"shared/project_favorites", :locals => {:project => project}
  .row-fluid
    .span12
      %p.project-square-title
        =link_to project.title, project_path(project)
  =render :partial=>"shared/project_tags", :locals => {:project => project}
  .row-fluid
    %p.mission-statement
      %b
        ="#{t(:mission_statement)}:"
      =project.client.mission_statement
  .row-fluid.tag

