.project-details
  %h4.details-title
    ="#{t(:questions)}"
  %p
    -project.questions.each do |q|
      %b
        -if QUESTIONS[q[0]]
          ="#{QUESTIONS[q[0]][:subject]}:"
      =q[1]
      %br