<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
%div{:class=>"home"}
%div{:class=>"home-banner"}
  %h2 Connect with student developers to solve engineering problems.

%div{:class=>"marketing"}
  %div{:class=>"container"}
    %div{:class=>"row"}
      %div{:class=>"span6 about"}
        %h2 Clients
        %p
          Are you looking for a group to develop a web or mobile application for your non-profit or organization? Work with Berkeley students enrolled in the software engineering course at UC Berkeley and in student groups to meet your technology need. Students can work with you to build an application to your specifications and coordinate to fix issues that may arise once the project is in use.
          %a{:class=>"link", :href=>"/organization_intro"}
            Learn More.  
        .sign-up-btn{}
          %a{:class=>"btn btn-large btn-success", :href=>"/client/sign_up"}Sign up as a Client
      %div{:class=>"span6 about"}
        %h2 Developers
        %p 
          Are you enrolled in CS 169 (Software Engineering), part of Blueprint, or looking to get involved in non-profit web application development? Use Project Portal to discover projects to work on created by real non-profit organizations looking for help. Also, you can search for projects in maintenance mode if you want to focus on fixing specific issues in existing projects that are already underway. 
          %a{:class=>"link", :href=>"/volunteer_intro"}
            Learn More.
        .sign-up-btn{}
          %a{:class=>"btn btn-large btn-success", :href=>"/developer/sign_up"}Sign up as a Developer

%hr

%div{:class=>"list-organizations"}
  %div{:class=>"container"}
    %h2 Learn about the Development Organizations
    %div{:class=>"row"}
      %div{:class=>"span6"}
        %a{:href=>"http://www.calblueprint.org/"}
          %img{:class=>"org-logo", :src=>"assets/blueprintlogo_600x380.png"}
      %div{:class=>"span6"}
        %a{:href=>"https://sites.google.com/site/ucbsaas/"}
          %img{:class=>"org-logo", :src=>"assets/UCBlogo_600x380.png"}
