%div.intro-header.span11
  %h2 Are you an organization looking for a technology solution? 
  %button.btn.btn-primary.btn-small.btn-inline{:id=>"organization-learn-more"} Show me how
%div.row
  %div.media.intro.span11{"data-intro"=>"Sign up", "data-step" => "1"}
    %a.pull-left{:href => "#"}
      %img.media-object.intro-img{"src"=>"assets/volunteer_intro/sign_up.png"}
    %div.media-body
      %h4.media-heading Sign Up
      %p Creating an account is super easy. Make sure to confirm your account by email once you finish signing up.
  %div.media.intro.span11{"data-intro"=>"Submit a project", "data-step" => "2"}
    %a.pull-left{:href => "#"}
      %img.media-object.intro-img{"src"=>"assets/organization_intro/submit_project.png"}
    %div.media-body
      %h4.media-heading Submit a project
      %p If you would like your project to be considered by the software engineering course at Berkeley (CS 169) as a potential project be sure to answer the questions asked in the project proposal form. Once an admin has approved your project you will be notified by email. Volunteers and students can choose to work on your project once it is approved.
  %div.media.intro.span11{"data-intro"=>"Create Issues", "data-step" => "3"}
    %a.pull-left{:href => "#"}
      %img.media-object.intro-img{"src"=>"assets/organization_intro/create_issue.png"}
    %div.media-body
      %h4.media-heading Create Issues
      %p Create issues for fixes you would like to see worked on in your project. 
  %div.media.intro.span11{"data-intro"=>"Accept Your Completed Project", "data-step" => "4"}
    %a.pull-left{:href => "#"}
      %img.media-object.intro-img{"src"=>"assets/organization_intro/project_complete.jpg"}
    %div.media-body
      %h4.media-heading Accept your completed project
      %p Once the team working on your project has finished you will receive an email notifying you it's complete. Once you're satisfied with your project be sure to accept it.
  %div.media.intro.span11{"data-intro"=>"Create Additional Issues", "data-step" => "5"}
    %a.pull-left{:href => "#"}
      %img.media-object.intro-img{"src"=>"assets/organization_intro/create_issue.png"}
    %div.media-body
      %h4.media-heading Create Additional Issues 
      %p If additional issues come up after you have marked the project completed, continue to create issues. A team can work on maintaining completed projects by fixing unresolved problems. 
  
