%div.intro-header.span11
  %h2 Are you a volunteer looking to learn more about working on a project?
  %button.btn.btn-primary.btn-small.btn-inline{:id=>"volunteer-learn-more"} Show me how
%div.row
  %div.media.intro.span11{"data-intro"=>"Sign up", "data-step" => "1"}
    %a.pull-left{:href => "#"}
      %img.media-object.intro-img{"src"=>"assets/volunteer_intro/sign_up.png"}
    %div.media-body
      %h4.media-heading Sign Up
      %p Creating an account is super easy. Make sure to confirm your account by email once you finish signing up.
  %div.media.intro.clear-fix.span11{"data-intro"=>"Search Projects", "data-step" => "2"}
    %a.pull-left{:href => "#"}
      %img.media-object.intro-img{"src"=>"assets/volunteer_intro/search_projs.png"}
    %div.media-body
      %h4.media-heading Search Projects 
      %p Once you've created an account search projects. Use filters to select amongst non-profits or projects in maintenance mode.
  %div.media.intro.span11{"data-intro"=>"Select a Project", "data-step" => "3"}
    %a.pull-left{:href => "#"}
      %img.media-object.intro-img{"src"=>"assets/volunteer_intro/star_proj.png"}
    %div.media-body
      %h4.media-heading Select a Project
      %p Select individual projects to learn more about them, including the parent organization, contact info and if the project is feasible as a CS 169 class project. Once you have found a project you would like to begin working on, be sure to star it. This will add it to your favorites.
  %div.media.intro.span11{"data-intro"=>"Create a Github Repository", "data-step" => "4"}
    %a.pull-left{:href => "#"}
      %img.media-object.intro-img{"src"=>"assets/volunteer_intro/create_repo.png"}
    %div.media-body
      %h4.media-heading Create a Github Repository
      %p Be sure to create an account at #{link_to 'github.com', 'https://.github.com'} and then create a repository for the project you wish to work on. Make sure that this repository is publicly accessible 
  %div.media.intro.span11{"data-intro"=>"Add resources", "data-step" => "5"}
    %a.pull-left{:href => "#"}
      %img.media-object.intro-img{"src"=>"assets/volunteer_intro/add_resource.png"}
    %div.media-body
      %h4.media-heading Add resources
      %p As you complete the project add links including project assets to the resources section on the bottom section. Make sure to stay in contact with the company representative to ensure you complete the project to the organization's satisfaction. Once you have finished your project make sure to upload a link pointing to your github repository so future projects can add features when the project enters maintenance mode. 

  %div.media.intro.span11{"data-intro"=>"Search Issues", "data-step" => "6"}
    %a.pull-left{:href => "#"}
      %img.media-object.intro-img{"src"=>"assets/volunteer_intro/search_issues.png"}
    %div.media-body
      %h4.media-heading Search Issues
      %p Search for specific issues by clicking the issues tab on the dashboard. You can use the star icon to favorite issues.
  %div.media.intro.span11{"data-intro"=>"Fix an Issue", "data-step" => "7"}
    %a.pull-left{:href => "#"}
      %img.media-object.intro-img{"src"=>"assets/volunteer_intro/fix_issue.png"}
    %div.media-body
      %h4.media-heading Fix an Issue  
      %p Look for the project github URL and clone the repository. Work on the issues locally on your own repository.
  %div.media.intro.span11{"data-intro"=>"Submit an Issue", "data-step" => "8"}
    %a.pull-left{:href => "#"}
      %img.media-object.intro-img{"src"=>"assets/volunteer_intro/add_resource.png"}
    %div.media-body
      %h4.media-heading Submit an Issue
      %p Once you have fixed an issue upload the most recent github repository URL.

