= simple_form_for :project, :url => project_questions_path do |f|
  / - if @project.errors.any?
  /   #error_explanation
  /     %h2
  /       = pluralize(@project.errors.count, "error")
  /       prohibited this project from being saved:
  /     %ul
  /       - @project.errors.full_messages.each do |msg|
  /         %li= msg

  .hero-section
    %h4.details-title
      Basics
    =f.input :title, label: "Project Title"
    =f.input :state, label: "Project Type", as: :select, default: Project::UNFINISHED, collection: [['New Project', Project::UNFINISHED], ['Maintenance Project', Project::FINISHED]]
  .hero-section
    %h4.details-title
      ="#{t(:organizations)}"
    =f.simple_fields_for :organizations do |organizations|
      =organizations.label :blueprint, label: 'Organizations I wish to work with'
      - Organization.all.each do |org|
        - if params[org.sname] == "1"
          %label.checkbox
            =organizations.input org.sname, as: :boolean, label: org.name, :input_html => { checked: true }
        - else
          %label.checkbox
            =organizations.input org.sname, as: :boolean, label: org.name

  = f.button :submit, 'Applications closed for fall 2014', :class => "btn disabled"
