= simple_form_for @project do |f|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, "error")
        prohibited this project from being saved:
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg
  =f.input :title
  =f.input :company_site
  .inline.form-inline
    =f.input :nonprofit
    =f.input :five_01c3
  -Question.all.each do |q|
    =f.input Project::question_key(q), label: q.question, :as => q.input_type.to_sym, :input_html => {:rows => 4, :value => @project.questions[Project::question_key(q)] }
  =f.input :github_site
  =f.input :company_address
  =f.input :application_site
  =f.input :mission_statement
  =f.input :contact_name
  =f.input :contact_position
  =f.input :contact_email
  =f.input :contact_number
  =f.input :contact_hours
  =f.button  :submit, :class => "btn"
