= simple_form_for :project, :url => org_questions_projects_path do |f|
  / - if @project.errors.any?
  /   #error_explanation
  /     %h2
  /       = pluralize(@project.errors.count, "error")
  /       prohibited this project from being saved:
  /     %ul
  /       - @project.errors.full_messages.each do |msg|
  /         %li= msg

  .hero-section
    %h4.details-title
      Basics
    =f.input :title, label: "Project Title"
    =f.input :state, label: "Project Type", as: :select, default: Project::UNFINISHED, collection: [['New Project', Project::UNFINISHED], ['Maintenance Project', Project::FINISHED]]
  .hero-section
    %h4.details-title
      ="#{t(:organizations)}"

    =f.simple_fields_for :organizations do |organizations|
      =organizations.label :blueprint, label: 'Organizations I wish to work exclusively with'

      - Organization.all.each do |org|
        - if params[org.sname] == "1"
          =organizations.input org.sname, as: :boolean, inline_label: org.name, :input_html => { checked: true }
        - else
          =organizations.input org.sname, as: :boolean, inline_label: org.name

        = # :value=> params[org.sname], :selected

  =f.button :submit, 'Continue', :class => "btn"
