= simple_form_for @project do |f|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, "error")
        prohibited this project from being saved:
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg
  =f.input :title
  =f.input :company_site
  .inline
    =f.input :nonprofit
  -QUESTIONS.keys.each do |q|
    =f.input q, label: QUESTIONS[q][:question]
  =f.input :avail_weekly
  =f.button  :submit


  