.hero-section
  .approval-buttons
    .float-left
      -if project.approved == false or project.approved == nil
        %a.btn.btn-success{"data-toggle" => "modal", :href => "#denial-form-popup", :role => "button"} Approve
    .float-left 
      -if project.approved == true or project.approved == nil
        %a.btn.btn-danger{"data-toggle" => "modal", :href => "#denial-form-popup", :role => "button"} Decline
    .float-left
      %h4.details-title
        -if project.approved == true
          Project has been approved
        -elsif project.approved == false
          Project has been denied
        -else
          Project has not be approved
      
=render :partial => 'projects/denial_form_popup', :locals => {:project => project}
=render :partial => 'projects/approval_form_popup', :locals => {:project => project}