#short-approval-buttons
  -if project.approved.nil?
    -if project.approved == false or project.approved == nil
      %a.btn.btn-success.btn-mini{"data-toggle" => "modal", :href => "#approval-form-popup", :role => "button"} Approve
    -if project.approved == true or project.approved == nil
      %a.btn.btn-danger.btn-mini{"data-toggle" => "modal", :href => "#denial-form-popup", :role => "button"} Decline
    
  -elsif project.approved == true
    %h5.green
      Approved
  -else
    %h5.red
      Denied
      
      
=render :partial => 'projects/denial_form_popup', :locals => {:project => project}
=render :partial => 'projects/approval_form_popup', :locals => {:project => project}