%h4.details-title
  Public Projects
-if public_projects.empty?
  No Public Projects
-public_projects.each do |p|
  =render :partial=>"shared/project_card", :locals => {:project => p}
=will_paginate public_projects, :param_name => 'public_page'

- Organization.all.each do |org|
  - name = "#{org.sname}_page".to_sym
  %h4.details-title
    = "#{org.name} Projects"
  - projects = org.projects.order("created_at DESC").paginate(:page => params[name], :per_page => 5)
  -if projects.empty?
    No Private Projects
  -projects.each do |p|
    =render :partial=>"shared/project_card", :locals => {:project => p}
  =will_paginate projects, :param_name => name


/ %h4.details-title
/   Unapproved Projects
/ -if unapproved_projects.empty?
/   No Unapproved Projects
/ -unapproved_projects.each do |p|
/   =render :partial=>"shared/project_card", :locals => {:project => p}
/ =will_paginate unapproved_projects, :param_name => 'unapproved_page'

/ %h4.details-title
/   Denied Projects
/ -if denied_projects.empty?
/   No Denied Projects
/ -denied_projects.each do |p|
/   =render :partial=>"shared/project_card", :locals => {:project => p}
/ =will_paginate denied_projects, :param_name => 'denied_page'