%h1= "#{@title}"
- if @projects
  =render :partial=>"search_form", :locals => {:prev_search => @prev_search}
  %ul.nav.nav-tabs#proj-tab
    %li.active
      %a{:href => "#full-proj-view", "data-toggle" => "tab"}Full View
    %li
      %a{:href => "#compact-proj-view", "data-toggle" => "tab"}Compact View
  %div#proj-content.tab-content
    =render :partial => "project_list"

/=will_paginate @projects