%h1 New project
- if user_signed_in?
  =render 'company_form'
- else
  %p
    If you would like to submit a project, please 
    =link_to "create an account", new_user_registration_path
%p
  = link_to 'Back', projects_path
