%p#notice
=render :partial => 'shared/project_card', :locals => {:project => @project}
=# render :inline, :controller => "issues", :action => "index"
=render :partial => 'shared/project_issues', :locals => {:project => @project}
 
