%p#notice
=render :partial => 'shared/project_card', :locals => {:project => @project}
=# render :inline, :controller => "issues", :action => "index"
.row-fluid
  .span4
    =render :partial => 'shared/project_issues', :locals => {:project => @project}
  .span8
    =render :partial => 'shared/project_contact', :locals => {:project => @project}
  .span8
    =render :partial => 'shared/project_questions', :locals => {:project => @project}
 
