%p#notice
-if user_signed_in? and current_user.admin?
  =render :partial => 'project_approval_form', :locals => {:project => @project}
=render :partial => 'shared/project_card', :locals => {:project => @project}
=# render :inline, :controller => "issues", :action => "index"
.row-fluid
  .span4
    =render :partial => 'shared/project_issues', :locals => {:project => @project}
  .span8
    =render :partial => 'shared/project_contact', :locals => {:project => @project}
  .span8
    =render :partial => 'shared/project_questions', :locals => {:project => @project}
    =button_to "Favorite", add_favorite_path(@project) #test
    =button_to "Unfavorite", remove_favorite_path(@project) #test
