%p#notice
-if user_signed_in? and current_user.admin?
  =render :partial => 'project_approval_form', :locals => {:project => @project}
=render :partial => 'shared/project_card', :locals => {:project => @project, :user_edit => true}
=# render :inline, :controller => "issues", :action => "index"
.row-fluid
  .span4
    =render :partial => 'shared/project_issues', :locals => {:project => @project}
  .span8
    =render :partial => 'shared/project_contact', :locals => {:project => @project}
  .span8
    =render :partial => 'shared/project_questions', :locals => {:project => @project}  
  .span8
    .hero-section
      %h4.details-title
        ="Resources"
      .comments
        .comment-form
          -if user_signed_in?
            =render :partial => 'shared/comment', :locals => { :comment => @new_comment }
        =render :partial => 'shared/project_comments', :collection => @comments, :as => :comment
        =#render :partial => 'shared/project_comments', :locals => { :comments => @comments }
