%div.container
  .row-fluid
    .questions
      %h2 Getting Started
    .getting-started
      %h4 1) Customize client application
      %div You can edit questions nonprofit applicants answer when proposing a project specifically to your organization
      %br
      %div.well
        <i><b>Example question:</b> If selected, will a representative of your company be available to meet at two-week intervals with the project team that #{current_rolable.name} assigns to you?</i>
      %br
      %a.btn.btn-primary{:href=>"/questions"} Edit Questions
      %br
      %br
      %h4 2) Invite nonprofits to apply to your organization
      / %div Send potential clients the following unique link to apply to your organization through Project Portal
      %div Send them the following link: <a>href="http://projectportal.herokuapp.com/projects/new/#{current_rolable.sname}?=1"</a>

    .projects
      %h2 Projects Private To My Organization
      - if @projects == nil
        No projects yet!
      - else
        %div#proj-content.tab-content
          %div.tab-pane.active#full-proj-view
            =render(:partial => 'shared/browse_project_card', :collection => @projects)


