.project-title {
  font-size: 28px; }

#project-card {
  padding: 20px; }

#project-user-edit {
  margin: -15px;
  float: right;
  text-decoration: none;
  font: menu;
  display: inline-block;
  background: transparent;
  color: #333333; }

#project-user-edit:hover {
  cursor: pointer;
  color: #333333; }

.edit-options {
  padding-top: 10px;
  font-size: 13px;
  text-align: center; }
