@import "bootstrap"

.project-title 
  font-size: 28px

#project-card
  @extend .hero-unit
  padding: 20px
  line-height: 14px

#project-user-edit
  margin: -15px
  float: right
  text-decoration: none
  font: menu
  display: inline-block
  background: transparent
  color: #333333
  
#project-user-edit:hover
  cursor: pointer
  color: #333333
