@import "bootstrap"
$max_height: 150px

.project-title 
  font-size: 140%
  line-height: 120% 

.project-card
  @extend .hero-unit
  padding: 20px
  line-height: 100%
  margin-bottom: 10px
  img
    max-height: $max_height
  .project-title
    display: inline
  .mission-statement
    margin-left: 0
  .best_in_place
    input
      margin: 0 0 0 10px
      padding: 5px 8px 3px 8px
      font-size: 90%
      height: 1.25em
      width: 15em
      border: none 
      background-color: transparent
      border-bottom: 1px dotted #ccc
      
.project-square
  padding: 15px
  .mission-statement 
    font-size: 69%
  height: 21em
  overflow: hidden
  .img-polaroid
    margin-bottom: 15px
  img
    max-height: $max_height
  .tags 
    margin-left: 0
     
.span3a
  width: 190px

.project-square-title
  font-size: 16px
  line-height: 16px

#project-user-edit
  margin: -15px
  float: right
  text-decoration: none
  font: menu
  display: inline-block
  background: transparent
  color: #333333
  
#project-user-edit:hover
  cursor: pointer
  color: #333333

  

#project-issues
  @extend .hero-unit
  padding: 20px
  line-height: 14px
  min-height: 350px

#create-issue-button
  text-align: center

.edit-options
  text-align: center
  font-size: 13px
  padding-top: 10px

#search-projs
  background-color: #fff
  border: 1px solid #ddd
  margin-bottom: 10px
  padding: 10px
  label
    font-size: 12px
    margin-bottom: 2px
  .search-lbl
    margin-left: 20px
    font-size: 20px
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  order-radius: 4px
  input 
    margin: 0 0 0 20px
  #search-btn
    margin: 2px 0 0 20px
  form
    display: inline
  .checkbox.inline
    padding-left: 3px

#error_explanation
  @extend .alert
  @extend .alert-error

.float-left
  float: left
  margin-right: 10px

.approval-buttons
  height: 30px
    
#short-approval-buttons
  padding-top: 8px
  a
    margin-bottom: 5px
  form
    margin: 2px
    display: inline
  h5
    margin: 0px

#project_comment
  width: 100%
  padding: 0

#compact-proj-view
  .project-title
    font-size: 65%
    margin-top: 10px
  .project-card
    padding: 13px 0
    line-height: 120%
  .content
    margin: 0 17px
  .btn
    margin-bottom: 0
  .tags 
    display: inline-block
    margin-left: 10px

.tags
  .btn
    text-transform: uppercase
    margin-bottom: 12px
  
#full-proj-view
  .project-title
    line-height: 160% 
  .tags 
    display: inline-block
