/*body {
  background-color: #fff;
  color: #333;
  font-family: arial, helvetica, verdana, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 20px; }

p, ol, ul, td {
  font-family: arial, helvetica, verdana, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

div.field, div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

.inline input {
  margin-right: 10px;
  margin-bottom: 5px; }*/
