// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.email-notifications
  form
    margin-left: 12px
  .radio_buttons
    padding: 5px 0
    margin: 0
    label
      padding: 0 10px
      display: inline
    span
      float: left
      padding: 0 10px
    input
      margin-top: 3px
  label.collection_radio_buttons
    padding: 0
  .btn
    margin: 15px 0 0 -11px
  .odd
    background-color: #eee

.main-section
  margin-top: 10px

.project-buttons
  margin-top: 50px

.btn-large-square
  height: 100px
  width: 100px

.btn-large-text
  line-height: 27px
  font-size: 25px
  margin-top: 20px